{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block head %}
    <link rel="stylesheet" href='/static/diary/archive.css'>
{% endblock %}

{% block main %}

{% if list %}
    <div class="col-sm-6">
        {% for year in list %}
            <ul class="year">{% for key in year %}<p>{{key}}</p>{%endfor %}
                {% for yearlyposts in year.values %}
                    {% for posts in yearlyposts.values %}
                        {% if posts %}
                            <li class="month">
                                <div class="month-data">
                                    <span class="collapsed">►</span>
                                    <span class="expanded" style="display:none;">▼&nbsp;</span>
                                    <span class="name">{{posts.0.date|date:"F"}}</span>
                                    <span class="counter"> ({{posts|length}})</span>
                                </div>
                                <ul class="posts" style="display:none;">
                                {% for post in posts %}
                                    <li class="post">
                                        <a class="title" href="{{post.id}}"><b>{{post.title}}</b></a>
                                        <span class="date">&nbsp;&nbsp;{{post.date|date:"j M Y"}}</span>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    {% else %}
	    <div class="empty">
		    <h1>Such Empty!!!</h1>
		</div>
    {% endif %}
<script>
    $('a').filter(function(index) { return $(this).text() === "Archive"; }).addClass('active');

    // toggle month
    var toggleMonth = function(month) {
        $(month).children('.posts').slideToggle('slow');
        $(month).find('.month-data span.collapsed').toggle();
        $(month).find('.month-data span.expanded').toggle(); 
    }
    
    // intercept click to toggle month
    $('.month-data').click(function() {
        var month = $(this).parent();
        toggleMonth(month);
    });


</script>
{% endblock %}