{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block head %}
    <link rel="stylesheet" href='/static/diary/detail.css'>
{% endblock %}

{% block main %}

    <div class="col-sm-12" id="header">
        <h2 class="title">{{post.title}}</h2>
        <div class="title-date"></div>
        <script type="text/javascript">
            var author = "{{post.author}}"
            if(author=='O'){
                author = 'Orgest';
            }
            else{
                author = 'Eduina';
            }
            var content = '<p>{{post.date|date:"j M Y"}} - '+author+'</p>'
            $('.title-date').html(content)
        </script>
    </div>
    <div class="col-sm-12" id="content">
        <p>{{post.content}}</p>
    </div>
    <div class="fixed-bottom">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="Delete">Delete</button>
        </form>
    </div>
{% endblock %}