{% extends "base.html" %}

{% block title %}Archive{% endblock %}

{% block head %}
    <link rel="stylesheet" href='/static/diary/edit.css'>
{% endblock %}

{% block main %}

    <div class="col-sm-12" id="header">
        <h2 class="title">{{post.title}}</h2>
        <div class="title-date"></div>
        <script type="text/javascript">
            var author = "{{post.author}}"
            if(author=='O'){
                author = 'Orgest';
            }
            else{
                author = 'Eduina';
            }
            var content = '<p>{{post.date|date:"j M Y"}} - '+author+'</p>'
            $('.title-date').html(content)
        </script>
    </div>
    <div class="col-sm-12">
        <div class="form-group" id="content">
            <textarea name="text" form="editform">{{post.content}}</textarea>
        </div>
    </div>
    <div class="fixed-bottom">
        <form action="" method="post" id="editform">
            {% csrf_token %}
            <button type="submit" name="action" value="Update">Save</button>
        </form>
    </div>
{% endblock %}